/*Autor: Joel Bautista
    Sena cba
    Realizado:16/03/2022
    Ficha:2470980-->*/

    /*aca se evidencia header*/
    #header{
        background-color: aqua;
        border: 1px solid black
    }
    /*aca se evidencia aside*/
    #aside{
        background-color: rgb(255, 196, 0);
        border: 1px solid black
    }
    /*aca se evidencia article1*/
    #article1{
        background-color: rgb(0, 255, 136);
        border: 1px solid black
    }
    /*aca se evidencia article2*/
    #article2{
        background-color: rgb(255, 0, 191);
        border: 1px solid black
    }
    /*aca se evidencia article3*/
    #article3{
            background-color: rgb(48, 12, 133);
            border: 1px solid black
    }
    /*aca se evidencia aside*/
    #aside{
            background-color: brown;
            border: 1px solid salmon;
    }
    /*aca se evidencia footer*/
    footer{
        background-color: rgb(5, 170, 5);
        border: 1px solid rgb(49, 21, 153);
}