/*Autor: Joel Bautista
    Sena cba
    Realizado:16/03/2022
    Ficha:2470980-->*/
    
    /*aca se evidencia toda la hoja*/
    .container{
        background-color: azure;
    }
    /*aca se evidencia header*/
    #header{
        background-color: rgb(255, 196, 0);
        border: 1px solid black
    }
    /*aca se evidencia objeto 1*/
    #objeto1{
        background-color: rgb(0, 255, 136);
        border: 1px solid black
    }
    /*aca se evidencia objeto 2*/
    #objeto2{
        background-color: rgb(255, 0, 191);
        border: 1px solid black
    }
    /*aca se evidencia objeto 3*/
    #objeto3{
        background-color: rgb(0, 247, 255);
        border: 1px solid black
    }
    /*aca se evidencia footer1*/
    #footer1{
        background-color: rgb(0, 255, 136);
        border: 1px solid black
    }
    /*aca se evidencia footer2*/
    #footer2{
        background-color: rgb(255, 0, 149);
        border: 1px solid black
    }